/*

# Directories
!.atom
!.bash_utils
!.bash_profile
!.bashrc
!.emacs.d
!.tmux
!.vim
!.xmonad
!.zsh

# Dot-Files
!.gitignore
!.gitignore_global
!.gvimrc
!.ideavimrc
!.jsbeautifyrc
!.keynavrc
!.slate
!.tmux.conf
!.vimrc
!.xvimrc
!.zshrc

# Other Files
!LICENSE
!workspace
