[submodule "workspace"]
	path = workspace
	url = https://gitlab.com/john.ellis1392/workspace
[submodule ".vim"]
	path = .vim
	url = https://gitlab.com/john.ellis1392/VimConfiguration
[submodule ".atom"]
	path = .atom
	url = https://gitlab.com/john.ellis1392/AtomConfiguration.git
