/*

# Directories
!.atom
!.bash_utils
!.bash_profile
!.bashrc
!.config
!.emacs.d
!.idea
!.tmux
!.vim
!.vscode_utils
!.xmonad
!.zsh

# Dot-Files
!.gitignore
!.gitignore_global
!.gvimrc
!.ideavimrc
!.jsbeautifyrc
!.keynavrc
!.slate
!.tmux.conf
!.vimrc
!.vscode_vimrc
!.xvimrc
!.zshrc

# Other Files
!LICENSE
!workspace
!RectangleConfig.json
