*
!.bash_utils
!.bash_profile
!.bashrc
!.emacs.d
!.emacs.d/*
!.gitignore
!.ideavimrc
!.keynavrc
!.slate
!.tmux.conf
!.tmux
!.vim
!.vim/custom/vim
!.vimrc
!.xmonad
!.xmonad/*
!.xvimrc
!.zshrc
!.zsh
!LICENSE
!.atom/
!.atom/*
!workspace

