[submodule "workspace"]
	path = workspace
	url = https://gitlab.com/john.ellis1392/workspace
[submodule ".vim"]
	path = .vim
	url = https://gitlab.com/john.ellis1392/VimConfiguration
[submodule ".atom"]
	path = .atom
	url = https://gitlab.com/john.ellis1392/AtomConfiguration.git
[submodule ".bash_utils/extensions/osx-terminal-themes"]
	path = .bash_utils/extensions/osx-terminal-themes
	url = https://github.com/lysyi3m/osx-terminal-themes.git
[submodule ".zsh/oh-my-zsh"]
	path = .zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".zsh/powerline-fonts"]
	path = .zsh/powerline-fonts
	url = https://github.com/powerline/fonts
[submodule ".idea"]
	path = .idea
	url = https://gitlab.com/john.ellis1392/IdeaConfiguration.git
