" Load mappings for ideavim
" source $HOME/.vim/index.vim
source $HOME/.vim/general.vim
source $HOME/.vim/colors.vim
source $HOME/.vim/keys.vim

set visualbell
set noerrorbells


" Window Motion -- {{{
" Better window motion
nnoremap <silent> <c-h> <c-w>h
nnoremap <silent> <c-j> <c-w>j
nnoremap <silent> <c-k> <c-w>k
nnoremap <silent> <c-l> <c-w>l

nnoremap <silent> <c-e> 7<c-e>
nnoremap <silent> <c-y> 7<c-y>

" Faster motion keys (without moving window)
" nnoremap <silent> <c-n> 10j
" nnoremap <silent> <c-p> 10k

set scroll=15
" }}}

" Meta -- {{{
" Re-enable enter in command line
inoremap <silent> <c-j> <enter>
inoremap jk <esc>
" }}}
