"*":
  core:
    telemetryConsent: "limited"
  "exception-reporting":
    userId: "fcfc173e-a63a-4748-9980-b7be814d4740"
  "linter-ui-default":
    showPanel: true
  "platformio-ide-terminal":
    core:
      mapTerminalsTo: "Folder"
      workingDirectory: "Active File"
    toggles:
      cursorBlink: false
      runInsertedText: false
      selectToCopy: false
  "tree-view": {}
