"*":
  "atom-beautify":
    bash:
      beautify_on_save: true
    c:
      beautify_on_save: true
    erlang:
      beautify_on_save: true
    general:
      _analyticsUserId: "ff75f22d-0f11-44e0-bfa4-f099e50c4c45"
    go:
      beautify_on_save: true
    haskell:
      beautify_on_save: true
    js:
      beautify_on_save: true
      end_with_comma: true
      jslint_happy: true
      keep_array_indentation: true
      keep_function_indentation: true
      space_after_anon_function: true
    rust:
      beautify_on_save: true
    yaml:
      disabled: true
  core:
    disabledPackages: [
      "platformio-ide-terminal"
    ]
    telemetryConsent: "limited"
  "easy-motion-redux":
    replaceCharacters: "ABCDEFGHIKLMNOPQRSTUVWXYZ"
  editor:
    tabLength: 4
  "exception-reporting":
    userId: "fcfc173e-a63a-4748-9980-b7be814d4740"
  "git-blame":
    columnWidth: 238
  "go-plus":
    panel: {}
  "linter-ui-default":
    showPanel: true
  "platformio-ide-terminal":
    core:
      mapTerminalsTo: "Folder"
      workingDirectory: "Active File"
    toggles:
      cursorBlink: false
      runInsertedText: false
      selectToCopy: false
  "tree-view": {}
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
".js.source":
  editor:
    showInvisibles: false
".source.yaml":
  editor:
    showInvisibles: false
    tabLength: 2
