"*":
  core:
    disabledPackages: [
      "platformio-ide-terminal"
    ]
    telemetryConsent: "limited"
  "easy-motion-redux":
    replaceCharacters: "ABCDEFGHIKLMNOPQRSTUVWXYZ"
  editor:
    tabLength: 4
  "exception-reporting":
    userId: "fcfc173e-a63a-4748-9980-b7be814d4740"
  "go-plus":
    panel: {}
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  "platformio-ide-terminal":
    core:
      mapTerminalsTo: "Folder"
      workingDirectory: "Active File"
    toggles:
      cursorBlink: false
      runInsertedText: false
      selectToCopy: false
  "tree-view": {}
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
