# File containing custom snippets

'.source.js':
    'ES6 function syntax':
        'prefix': 'fes6'
        'body': """
        (${1:args}) => {
            ${2:body}
        }
        """

    'Blank ES6 test':
        'prefix': 'its'
        'body': """
        it("${1:description}", () => {
            ${2:body}
        })
        """

    'Pending Test':
        'prefix': 'itp'
        'body': """it("${1:description}")"""

# '.source.rust':
#     'something':
#         'prefix': 'something'
#         'body': 'fn something(${1:"arg1"}) { println!("${2:"string"}"); }'
